<footer class="footer-mdl3 footer py-5 bg-dark" >
      <div class="container">
          <div class="top-row">
              <div class="container">
                  <div class="row">
                      <div class="col-md-8 mx-auto mb-3 text-center">
                        <strong class="mt-4 edit">Copyright © 2018, Open Devices; all rights reserved. Made with <i class="text-danger">♥</i> in Berlin, Germany.</strong>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</footer>
