<title>{{ title }}</title>
<meta name="description" content="{{ description }}"/>
<meta name="keywords" content="{{ keywords }}"/>
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="Website design company" />
<meta property="og:type" content="webdesign" />
<meta property="og:site_name" content="https://www.captain-design.com/"/>

<meta name="author" content="captain-design.com" />
<meta name="owner" content="hi@captain-design.com" />
<meta name="description" content="Liberté, Algérie" />
<meta name="abstract" content="Liberté, Algérie" />
<meta name="revisit-after" content="1 DAYS" />
<meta name="language" content="FR" />
<meta name="copyright" content="captain-design.com" />
<meta name="robots" content="All,Index,Follow" />
<meta name="google-site-verification" content="Rko9H8r3_XX3jBK1GwmCxIoysGwRXpUDogy44nd5h9Y" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="/build/css/stylesheet.css">
