<section class="calltoact-mdl3 callToAction py-5 pb-md-0 dark bg-hero aos-init aos-animate" style="background-image: url('images/demo-app.jpg');opacity:1; background-attachment: fixed;">
  <div class="filter"></div>
  <div class="container py-md-5">
    <div class="row justify-content-center">
      <div class="col col-md-10 text-center">
          <h2 class="heading mb-3 edit">Keep updated about future promotions and features.</h2>
          <p class="paragr  mb-5 edit">Because no one likes spam we won't spam you even if our lives depend on it!</p>

          <!-- Begin MailChimp Signup Form -->
          <div class="row newsletter justify-content-center">
            <div id="mc_embed_signup" class="justify-content-center col d-flex">
            <form action="https://captain-design.us12.list-manage.com/subscribe/post?u=711664a79866f47515eacd06e&amp;id=5b9c67aa50" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate col-md-8 d-sm-flex" target="_blank" novalidate="novalidate">

            <div id="mc_embed_signup_scroll" class="col">
              <input type="email" value="" name="EMAIL" placeholder="Enter your e-mail" class="required email form-control" id="mce-EMAIL" aria-required="true">
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-prime ladda-button edit">
            </div>
              <div id="" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_a5fff34aad5ca0be281270679_5af588eab6" tabindex="-1" value="" class="form-control">
                </div>
                </form></div>

            </div>
          </div>
          <!--End mc_embed_signup-->
      </div>
    </div>
</section>
