<nav class="navigation-mdl12 navbar fixed navbar-expand-lg navbar-light separaeur py-4 py-lg-0">
  <div class="container">
    <!--LOGO-->
    <a class="navbar-brand mx-auto edit" href="/">Captain Design</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-start mt-3 mt-md-0" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item {{ active.themes }}">
          <a class="nav-link py-4" href="/themes">Themes</a>
        </li>
        <li class="nav-item {{ active.pricing }}">
          <a class="nav-link py-4" href="/pricing">Pricing</a>
        </li>
        <li class="nav-item {{ active.contact }}">
          <a class="nav-link py-4" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
