{{#each themes as |value key| }}
<div class="item mt-5">
  <div class="bg-hero" style="background:url({{ value.backgroudImage }}) bottom; opacity: 0.5"></div>
  <a href="/themes/{{ key }}">
    <div class="row py-4">
      <div class="col-md-8">
        <img  src="{{ value.image }}">
      </div>
      <div class="col-md-4 align-self-center">
        <div class="text-center mt-5 mt-md-0">
          <h3 class="h3 mb-3">{{ key }}</h3>
          <button type="button" class="btn lg-btn btn-prime btn-lg ladda-button mt-2 mt-md-0 " data-style="zoom-in">preview</button>
        </div>
      </div>
    </div>
  </a>
</div>
{{/each}}
