<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        {{>header}}
    </head>
    <body>
      <header>
        {{> nav}}
        <div class="nav-fixed-gap my-5 pt-5"></div>
      </header>
      {{{ body }}}
      <!--FOOTER-->
      {{>footer}}
      <script src="/build/js/bundle-min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
      <script src="/build/js/iframeResizer.min.js"></script>
      <!--<script type="text/javascript">
        Ladda.bind( 'div:not(.progress-demo) .btn', {} );
      </script>-->
      <script>
      AOS.init({
        easing: 'ease-in-out-sine'
      });
      $('.product-frame iframe').iFrameResize();
      </script>
      <script>iFrameResize({log:true}, '.product-frame iframe')</script>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114734455-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-114734455-1');
      </script>
      <!-- Hotjar Tracking Code for captain-design.com -->
      <script>
          (function(h,o,t,j,a,r){
              h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
              h._hjSettings={hjid:806842,hjsv:6};
              a=o.getElementsByTagName('head')[0];
              r=o.createElement('script');r.async=1;
              r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
              a.appendChild(r);
          })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
      </script>

    </body>
</html>
