    /*
    Flaticon icon font: Flaticon
    Creation date: 15/10/2017 17:38
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-right-arrow:before { content: "\f100"; }
.flaticon-menu-1:before { content: "\f101"; }
.flaticon-add:before { content: "\f102"; }
.flaticon-delete:before { content: "\f103"; }
.flaticon-menu:before { content: "\f104"; }
.flaticon-arrows:before { content: "\f105"; }
.flaticon-notebook-computer:before { content: "\f106"; }
.flaticon-smartphone-call:before { content: "\f107"; }
.flaticon-scroll-arrows:before { content: "\f108"; }
.flaticon-tablet:before { content: "\f109"; }
    
    $font-Flaticon-right-arrow: "\f100";
    $font-Flaticon-menu-1: "\f101";
    $font-Flaticon-add: "\f102";
    $font-Flaticon-delete: "\f103";
    $font-Flaticon-menu: "\f104";
    $font-Flaticon-arrows: "\f105";
    $font-Flaticon-notebook-computer: "\f106";
    $font-Flaticon-smartphone-call: "\f107";
    $font-Flaticon-scroll-arrows: "\f108";
    $font-Flaticon-tablet: "\f109";