	/*
  	Flaticon icon font: Flaticon
  	Creation date: 15/10/2017 17:38
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-right-arrow:before { content: "\f100"; }
.flaticon-menu-1:before { content: "\f101"; }
.flaticon-add:before { content: "\f102"; }
.flaticon-delete:before { content: "\f103"; }
.flaticon-menu:before { content: "\f104"; }
.flaticon-arrows:before { content: "\f105"; }
.flaticon-notebook-computer:before { content: "\f106"; }
.flaticon-smartphone-call:before { content: "\f107"; }
.flaticon-scroll-arrows:before { content: "\f108"; }
.flaticon-tablet:before { content: "\f109"; }