<content>
  <div class="header col-md-10 mt-md-5 pt-5 text-center mx-auto">
    <h3 class="h2 text-center mb-4 edit">Contact us for help or just to say hi</h3>
    <p class="h5 d-block text-center edit">Feel free to write to us through email</h4>
  </div>
  <!--CONTACT-->
  <section class="contact-mdl7 contact my-5 pt-md-5" data-aos="fade-up" data-aos-duration="1500">
      <section class="feature mt-5 my-md-5 py-md-5">
          <div class="container">
            {{ message }}
          </div>
      </section>
  </section>
</content>
