<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
      {{>header}}
    </header>
    <body>
      <header class="header-mdl12 hero dark">
        <div class="bg-hero" style="background-image: url('images/demo-app.jpg');opacity:0.1; background-attachment: fixed;"></div>
        <nav class="navigation-mdl12 navbar navbar-expand-lg navbar-dark separaeur py-4 py-lg-0">
          <div class="container">
            <!--LOGO-->
            <a class="navbar-brand mx-auto edit" href="/">Captain Design</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-start mt-3 mt-md-0" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link py-4" href="/themes">Themes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link py-4" href="/pricing">Pricing</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link py-4" href="/contact">Contact</a>
                  </li>
                </ul>
            </div>
          </div>
        </nav>
        <div class="container content-wrapper d-flex mt-5  pt-md-0 mt-md-0">
          <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-10 align-self-center text-center">
                <h1 class="h1 edit">Give your idea the design it deserves
                  </h1>
                  <h4 class="h5 edit col-md-10 mx-auto">Safe and light weight solution to let you deploy to your infrastructure</h4>
                  <div class="cta-btn pt-3">
                    <a href="/pricing">
                      <button type="button" class="btn btn-prime lg-btn ladda-button mb-4 edit" data-style="zoom-in">See our offer now</button>
                    </a>
                  </div>
                  <div class="media mx-auto align-self-end floating">
                      <div class="placeholder">
                        <img class="" src="images/demo-app-front.png">
                      </div>
                  </div>
            </div>
          </div>
        </div>
        <div class="hero-svg">
          <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon fill="white" points="0,100 100,0 100,100"/>
          </svg>-->
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 337" preserveAspectRatio="none">
            <path id="Rectangle_1_copie_2" fill="white" opacity="0.2" data-name="Rectangle 1 copie 2" class="cls-1" d="M1920,192c-301.43,65.765-265.5,67.252-369,63.6-263.93-9.312-433.51-99.052-727-128.6-211.8-21.324-417.6,34.965-587,98C118.749,269-5,197.3-5,197.3L-9.007,337H1914Z"/>
            <path class="cls-2" fill="white" opacity="0.2" d="M-2,176c125.932,57.2,261.5,90.32,365,87,263.93-8.466,424.707-121.345,718.19-148.207C1293,95.407,1434.6,120.7,1604,178c118.25,40,315,32,315,32l4.01,127H0Z"/>
            <path id="Rectangle_1_copie" fill="white" data-name="Rectangle 1 copie" class="cls-3" d="M1923,244C1369.54,375.351,1237.64,84.34,839,161c-216.265,41.589-422.042,57.151-598,32C64.281,167.74-1,147-1,147L-2.663,337H1920Z"/>
          </svg>
        </div>
      </header>
      <content>
        <!--THEME-->
        <section class="theme-folio center-content-align pb-5">
              <div class="container">
                <div class="header col-md-8 mt-md-5 text-center mx-auto">
                    <h3 class="h2 edit">Themes For your future product lunch</h3>
                    <h4 class="h5 edit">
                      Focus on your product more on the presentation.
                    </h4>
                </div>
                <div class="row">
                  {{>themes}}
                </div>
              </div>
        </section>
        {{>mailshimp}}
       </content>
      <!--FOOTER-->
      {{>footer}}
      <script src="build/js/bundle-min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>

      <!--<script type="text/javascript">
        Ladda.bind( 'div:not(.progress-demo) .btn', {} );
      </script>-->
      <script>
      AOS.init({
        easing: 'ease-in-out-sine'
      });
      </script>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114734455-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-114734455-1');
      </script>
      <!-- Hotjar Tracking Code for captain-design.com -->
      <script>
          (function(h,o,t,j,a,r){
              h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
              h._hjSettings={hjid:806842,hjsv:6};
              a=o.getElementsByTagName('head')[0];
              r=o.createElement('script');r.async=1;
              r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
              a.appendChild(r);
          })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
      </script>
    </body>
</html>
