<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        {{>header}}
    </head>
    <body>
      <header class="header-mdl13 dark overflow">
        <nav class="navigation-mdl12 navbar navbar-expand-lg navbar-dark separaeur py-4 py-lg-0">
          <div class="container">
            <!--LOGO-->
            <a class="navbar-brand mx-auto edit" href="/">Captain Design</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-start mt-3 mt-md-0" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link py-4" href="/themes">Themes</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link py-4" href="/pricing">Pricing<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link py-4" href="/contact">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="header col-md-10 pt-5 text-center mx-auto">
            <h3 class="h2 edit">Our Pricing</h3>
            <h4 class="h5 edit">
              Get dedicated-like performance in a shared hosting environment.
            </h4>
        </div>
        <!--PRICING-->
        <section class="pricing-mdl5 pricing center-content-align mt-5" data-aos="fade-up" data-aos-duration="1200">
            <div class="container">
                <div class="col-md-6 col-xl-4 mx-auto">
                    <div class="item premium text-center p-4 pb-5 mt-md-0 ">
                      <h3 class="h1 edit">Pro</h3>
                      <h3 class="h2 price mb-4">
                        <small class="edit">$</small>
                        <strong class="edit">99</strong>
                      </h3>
                      <div class="features-list">
                        <h5 class="pb-3 edit">Pro includes:</h5>
                        <p><i class="fa fa-check mr-2" aria-hidden="true"></i>
                        <strong class="edit">Unlimited themes</strong></p>
                        <p class="edit">Assistance for lunching your webpages</p>
                        <p class="edit">If themes doesn't suit you we make new one only for you</p>
                      </div>
                      <button class="btn lg-btn mt-4 px-3 btn-prime edit" data-toggle="modal" data-target="#ModalMail">Choose this plan</button>
                    </div>
                </div>
            </div>
        </section>
        <div class="svg-intern-hero">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 337" preserveAspectRatio="none">
              <path id="Rectangle_1_copie_2" fill="white" opacity="0.2" data-name="Rectangle 1 copie 2" class="cls-1" d="M1920,192c-301.43,65.765-265.5,67.252-369,63.6-263.93-9.312-433.51-99.052-727-128.6-211.8-21.324-417.6,34.965-587,98C118.749,269-5,197.3-5,197.3L-9.007,337H1914Z"></path>
              <path class="cls-2" fill="white" opacity="0.2" d="M-2,176c125.932,57.2,261.5,90.32,365,87,263.93-8.466,424.707-121.345,718.19-148.207C1293,95.407,1434.6,120.7,1604,178c118.25,40,315,32,315,32l4.01,127H0Z"></path>
              <path id="Rectangle_1_copie" fill="white" data-name="Rectangle 1 copie" class="cls-3" d="M1923,244C1369.54,375.351,1237.64,84.34,839,161c-216.265,41.589-422.042,57.151-598,32C64.281,167.74-1,147-1,147L-2.663,337H1920Z"></path>
          </svg>
        </div>
      </header>
      <div class="overflow-gap xl"></div>
      <content>
      <!-- Modal -->
        <div class="modal-mdl1 modal fade" id="ModalMail" tabindex="-1" role="dialog" aria-labelledby="ModalMail" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content p-5">
              <div class="header mb-4 text-center mx-auto">
                <h3 class="h3 edit">Oups</h3>
                <h4 class="h5 edit">
                  Get dedicated-like performance in a shared hosting environment.
                </h4>
              </div>
              <form action="https://captain-design.us12.list-manage.com/subscribe/post?u=711664a79866f47515eacd06e&amp;id=5b9c67aa50" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate">
                    <div id="mc_embed_signup_scroll" class="col">
                      <input type="email" value="" name="EMAIL" placeholder="Enter your e-mail" class="required email form-control" id="mce-EMAIL" aria-required="true">
                      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-prime ladda-button mt-2">
                    </div>
                      <div id="" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                          <input type="text" name="b_a5fff34aad5ca0be281270679_5af588eab6" tabindex="-1" value="" class="form-control">
                        </div>
                        </form>
            </div>
          </div>
        </div>
        {{>mailshimp}}
      </content>
      <!--FOOTER-->
      {{>footer}}
      <script src="build/js/bundle-min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
      <script src="build/js/iframeResizer.min.js"></script>
      <!--<script type="text/javascript">
        Ladda.bind( 'div:not(.progress-demo) .btn', {} );
      </script>-->
      <script>
      AOS.init({
        easing: 'ease-in-out-sine'
      });
    </script>
    </body>
</html>
