<content>
  <div class="header col-md-10 mt-md-5 pt-5 text-center mx-auto">
    <h3 class="h2 text-center mb-4 edit">Contact us for help or just to say hi</h3>
    <p class="h5 d-block text-center edit">Feel free to write to us through email</h4>
  </div>
  <!--CONTACT-->
  <section class="contact-mdl7 contact my-5 pt-md-5" data-aos="fade-up" data-aos-duration="1500">
      <section class="feature mt-5 my-md-5 py-md-5">
          <div class="container">
              <div class="row justify-content-center">
                <!-- <div class="item col-12 col-md-4 py-4">
                    <div class="d-flex justify-content-center graphic pb-4">
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class="text-center">
                        <h4 class="h4 pb-3 edit">Call</h4>
                        <p class="paragr edit"> 800.483.2193</p>
                    </div>
                </div> -->
                <div class="item col-12 col-md-4 py-4">
                  <div class="d-flex justify-content-center graphic pb-4">
                      <i class="far fa-envelope fa-2x" aria-hidden="true"></i>
                  </div>
                  <div class="text-center">
                      <h4 class="h4 pb-3 edit">Email</h4>
                      <p class="paragr edit">hello@captain-design.com</p>
                  </div>
                </div>
                <div class="item col-12 col-md-4 py-4">
                  <div class="d-flex justify-content-center graphic pb-4">
                      <i class="fas fa-user fa-2x"></i>
                  </div>
                  <div class="text-center">
                      <h4 class="h4 pb-3 edit">Help</h4>
                      <p class="paragr edit">help@captain-design.com</p>
                  </div>
                </div>
            </div>
          </div>
      </section>
  </section>
</content>
