<content>
        <div class="breadcrumb-mdl1 pt-2 mt-md-5 mt-lg-0">
          <div class="container">
            <div class="row mx-0">
              <a href="/" class="item text-center mr-3">
                <i class="fa fa-house"></i>
                <h4 class="h5 edit">Home</h4>
              </a>
              <a href="/themes" class="item active text-center mx-3">
                <i class="far fa-hand-point-up"></i>
                <h4 class="h5 edit">Themes</h4>
              </a>
            </div>
          </div>
        </div>
        <!--THEME-->
        <section class="theme-folio center-content-align pb-5">
          <div class="container">
            <div class="header col-md-8 mt-md-5 text-center mx-auto">
              <h3 class="h2 edit">Themes</h3>
              <h4 class="h5 edit">Safe and light weight solution to let you deploy to your infrastructure</h4>
            </div>
            <div class="row">
              {{>themes}}
            </div>
          </div>
        </section>
        <!--NEWSLETTER-->
        {{>mailshimp}}
      </content>
