<content>
        <div class="breadcrumb-mdl1 pt-2 mt-md-5 mt-lg-0">
          <div class="container">
            <div class="row mx-0">
              <a href="/" class="item text-center mr-3">
                <i class="fas fa-home"></i>
                <h4 class="h5 edit">Home</h4>
              </a>
              <a href="/themes" class="item text-center mx-3">
                <i class="far fa-hand-point-up"></i>
                <h4 class="h5 edit">Themes</h4>
              </a>
              <a class="item active text-center mx-3">
                <i class="fas fa-eye"></i>
                <h4 class="h5 edit">Preview</h4>
              </a>
            </div>
          </div>
        </div>
        <section>
          <!--EDITOR-AREA-->
          <div class="product-frame fluid-container mb-5 pb-5">
            <!--TEMPLATE-IFRAME-->
            <iframe class="" src="/landing-directory/{{ theme.path }}/index.html"></iframe>
            <!--BUTTON-SAVE-AND-DOWNLOAD-->
            <div class="calltoact-mdl3 cta-btn fixed active text-center py-4 ">
              <a href="{{ theme.zip }}" target="_blank">
                <button class="btn btn-prime ladda-button edit">
                  Download And let's the fun begin
                </button>
              </a>
              <!--<div class="row newsletter justify-content-center">
                <form action="https://captain-design.us12.list-manage.com/subscribe/post?u=711664a79866f47515eacd06e&amp;id=5b9c67aa50" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate col-md-6 d-sm-flex" target="_blank" novalidate="novalidate">
                  <div id="mc_embed_signup_scroll" class="col">
                    <input type="email" value="" name="EMAIL" placeholder="Enter your e-mail" class="required email form-control" id="mce-EMAIL" aria-required="true">
                    <input type="submit" value="Download" name="subscribe" id="mc-embedded-subscribe" class="btn btn-prime ladda-button edit">
                  </div>
                  <div id="" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_a5fff34aad5ca0be281270679_5af588eab6" tabindex="-1" value="" class="form-control">
                  </div>
                </form>

              </div>
              <!--<button type="button" class="btn btn-primary"><span class="edit">Save</span></button>
              <strong class="px-2 px-md-3 edit">or</strong>
              <button type="button" class="btn btn-prime"><span class="edit">DOWNLOAD</span></button>-->
          </div>
          </div>
        </section>
      </content>
